.container{
    display:contents;
    font-size: 44px;
}

.aboutContainer{
    display:contents;
    font-size: 44px;
}
a{
    cursor: pointer;
}

.container-wrapper{
    margin-left: 4rem;
    margin-right: 4rem;
}
p{
    font-family:'Roboto', sans-serif;
    font-size:20px;
}
.ticket-count{
    color: #888;
}

h1,h2, small{
    font-family:'Roboto', sans-serif;
}

h1{
    font-size: 1em;
}

h2{
    font-size: .8em;
}

h1#title{
    margin-bottom: 1rem;
}

img#thumb{
    max-width: 35rem; 
    margin-bottom: 2rem; 
    inline-size: 100%; 
    border-radius: 10%;
}

img#hostPic{
    width: 8rem; 
    padding-right:14px;
}
img#hostMobilePic{
    width: 50vw;
}

a.reserve{
    font-size:20px; 
    letter-spacing: .05em; 
    border-radius: 1.3rem;
    padding-right: 1.6rem; 
    padding-left: 1.6rem;
}

#modal-btn{
    width: fit-content;
    font-size:20px; 
    letter-spacing: .05em; 
    border-radius: 1.3rem;
    padding-right: 1.6rem; 
    padding-left: 1.6rem;
    align-items: center;
}

@media screen and (max-width: 935px) {
    img#hostPic{
        padding-right: 3rem;
    }
}

/* If the screen size is 768px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 768px) {
    div.hostBio{
      font-family:'Roboto', sans-serif;
      /*border-style: solid;
      border-radius: 1.3rem;
      border-width: 1px;*/
      font-size:20px;
      padding-right: 4vw;
      width: 35vw;
      height: 27vh;
      overflow-y: scroll;
    }
    div#hostInfo{
        position: fixed;
    }
    a#mobileHost{
        display: none;
    }
    div#mobileHost{
        display: none;
    }
    p#mobileHost{
        display:none;
    }
}
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 768px) {
    div.hostBio{
        font-size: 2vw;
    }
    div#hostInfo{
        display:none;
    }
    a#mobileHost{
        margin-bottom: 1rem;
    }
    .container-wrapper{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    a#mobileReserve{
        display: none;
    }
}

::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1ff; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
